[STAGING]

server = DESKTOP-IANNR28
database = master        
driver = {ODBC Driver 17 for SQL Server}

log_folder_path = D:\280923\logs 
ip_address = 127.0.0.1
port_number = 5555


[PRODUCTION]

server = DESKTOP-IANNR28
database = master        
driver = {ODBC Driver 17 for SQL Server}

log_folder_path = D:\Multithread_db\logs 
ip_address = 127.0.0.1
port_number = 5555